
.container{
  margin-top: 3em;
}

.card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

.data{
  flex-basis: 50%;
  border-radius: 15px;
  background-color: rgba(202, 202, 202, 0.993);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item{
  padding: 1% 3%;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.returnButton{
  margin: 1% auto;
  width: fit-content;
}

.optionsButton{
  margin: 0 1%;
}