.pagination {
  display: flex;
  margin: auto;
  padding: 2rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1.7%;
}
.pagination li {
  /* background-color: black; */
  margin-bottom: -100px;
}

.activePage {
  background-color: rgb(55, 54, 54);
  color: #fff;
  cursor: pointer;
}

.focusPage {
  cursor: pointer;
}

.focusPage:hover {
  background-color: rgb(182, 175, 255);
  color: black;
}

.buttons {
  margin: 0 3%;
}

@media (max-width: 560px) {
  .pagination {
    position: relative;
    right: 6.5%;
  }
}

@media (min-width: 560px) and (max-width: 900px) {
  .pagination {
    position: relative;
    right: 4.5%;
  }
}

/* .item{
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
}

.itemContainer{
  padding-top: 1%;
  display: flex;
  align-content: center;
}

.button{ 
  height: 20%;
  margin-left: 3%;
  margin-right: 3%;
} */
