
.pagination{
  display: flex;
  margin: auto;
  padding: 2rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.pagination li{
  /* background-color: black; */
  margin-bottom: -100px;
}

/* .item{
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
}

.itemContainer{
  padding-top: 1%;
  display: flex;
  align-content: center;
}

.button{ 
  height: 20%;
  margin-left: 3%;
  margin-right: 3%;
} */