.general{
    height: 40em;
    width: 30em;
    /* border: .0625rem solid black; */
    background-color: white;
    border-radius: 3%;
}

.general img{
    width: 80%;
    height: 20em;
    padding-top: 1em;
}



.contenedor{
    display: flex;
    flex-direction: column;
   padding: 1rem;
}
.contenedor p{
    padding-left: 0.50rem;
}
h5 {
    text-align: center;
}