.rating{
    color: #fff7f7;
    background-color: #b8b5b5d1;
    margin: 0px 482px;
    border-radius: 5px 5px 0 0;
}

.background {
/*     display:flex; */
   background-image: url("https://img.freepik.com/vector-gratis/fondo-blanco-engranajes-espacio-texto_1017-19420.jpg?w=740&t=st=1670717357~exp=1670717957~hmac=f21d56057b8eb5931d14fd0d376c7116e6c0ee7255c798c2ccc4b61e86ade88c");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e2e2e2;

    background-attachment: fixed;
}

.card_container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top:20px;

}


.img{
    width: 975px;
    height: 301px;
    border-radius:5px;
    position: absolute;
    object-fit: cover;
    border:solid 1px black
}

.detail_container{
    
    /* position:absolute; */
        width: 50%;
        height: auto;  
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
    
        background-color: rgb(12, 105, 212);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        color:white;
        text-shadow: -1px -1px 5px rgb(0 0 0), 1px 1px 5px rgb(57 39 18);

    
}
.container {
    /* border: .0625rem solid blue; */
    /*position: center;*/
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }

  .title{
    margin-left: 1.25rem;
  }
  
  .botonfiltros{
    background-color: rgb(12, 105, 212);
  color: white;
  }
  
  .botonfiltros:hover{
    background-color: rgb(3, 3, 3);
    color: white;
  }
  
  .slideNav{
    background-color: rgb(12, 105, 212);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:white;
    text-shadow: -1px -1px 5px rgb(0 0 0), 1px 1px 5px rgb(57 39 18);
    width: 640px;
    height: 85%;
    margin-bottom: 40px;
  }
  
  .closeButton {
     border: .0625rem solid blue;
    background-color: black;
    color: white;
    font-size: 1em;
    margin-left: 37em;
    margin-top: 1rem;
    margin-right: -1em;
    width: 2em;
    /*background-color: transparent;
    border: transparent;*/
  }

  .reviews{ 
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 2px;
    margin-right: 30px;
 
    padding-left: 10px;
    padding-top: 4px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .post{
    display:flex;

    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    
        background-color: rgb(12, 105, 212);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        color:white;
        text-shadow: -1px -1px 5px rgb(0 0 0), 1px 1px 5px rgb(57 39 18);
  }

  @media(max-width:664px){
    .detail_container{
      align-items: center;
    }
  }

  .flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.315);
    margin-bottom: 3%;
    border-radius: 20px;
  }

  .authorized{
    color: green;
  }

  .noAuthorized{
    color: red;
  }

  .adminButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .textFlex{
    display: flex;
    padding: 2%;
    flex-direction: column;
    align-items: flex-start;
  }

  .button{
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(19, 86, 231);
    border: none;
    color: white;
    text-shadow: -1px -1px 5px rgb(0 0 0), 1px 1px 5px rgb(57 39 18);
    
}

.button:hover {
    background-color: rgb(23, 132, 221);
}
  
.goBack{
  background: transparent;
  background-image: url('https://cdn-icons-png.flaticon.com/128/2099/2099190.png');
  background-size: cover;
  background-position: center;
  width: 10%;
  border: none;
  height: 50px;
}