

.card {
       width: 20rem;
       height: 20rem;
       padding-top: 2rem;
       
       
      
       
}

.background {
    background-color: red;
}

.contenedor{
    display: flex;
    flex-direction: column;
      padding: 1rem;
      
}
.contenedor p{
    padding-left: 0.50rem;
}
h5 {
    text-align: center;
}

