.error {
color: red;    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container{
  margin: 2em 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.msgAlert{
 position: relative;
 top: 2rem;

}