.error {
  color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  margin-top: 2em;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(159, 158, 158);
  background-size: cover;
  background-attachment: fixed;
}

.msgAlert {
  position: relative;
  top: 2rem;

}