.footer {
    position: relative;
    left: 0;
    bottom: 0;  
    display: table;
    width: 100%;
    height: 85vh;
    /* background-image: url('C:\Users\Nadia\Desktop\Mis Proyectos\E-commerce Services\Proyecto-Final---Henry\Front-End\src\Images\Footer.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    color:#fff;
    text-align: center;
  }

 .carrusel {
  width: 20em;
  height: 14.3em;
  margin-left: 3em;
/* border: white solid .0625rem; */

}

.carrusel img{
  height: 14.3em;
}

.carrusel h5{
  color: black;
}

.carrusel p{
  color: black;
}

/* @media (max-width: 445px){
  .carrusel {
    margin-left: 10%
  }
} */

@media (min-width: 445px) and (max-width: 768px) {
  .carrusel{
    margin-left: 16%;
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .carrusel{
    margin-left: 3%;
  }
}
