footer {
  background: rgb(52, 51, 51);
  color: #aaa;
  padding-top: 0.625rem;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
  color: #0894d1;
  letter-spacing: 0.0625rem;
  margin: 1.875rem 0 1.25rem;
}

footer .three-column {
  overflow: hidden;
}

footer .three-column li {
  width: 33.3333%;
  float: left;
  padding: 0.3125rem 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 1.25rem 0 0.625rem;
  display: flex;
  justify-content: center;
}

footer .socila-list li {
  float: left;
  margin-right: 0.1875rem;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 0.0625rem solid #444;
  margin-bottom: 0.3125rem;
}

footer .copyright {
  padding: 0.9375rem 0;
  background: #333;
  margin-top: 1.25rem;
  font-size: 0.9375rem;
}

footer .copyright span {
  color: #0894d1;
}


