footer {
  background: #222;
  color: #aaa;
  padding-top: .625rem;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
 color: #0894d1;
  letter-spacing: .0625rem;
  margin: 1.875rem 0 1.25rem;
}

footer .three-column {
 overflow: hidden;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: .3125rem 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 1.25rem 0 .625rem;
}

footer .socila-list li {
  float: left;
  margin-right: .1875rem;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: .0625rem solid #444;
  margin-bottom: .3125rem;
}

footer .copyright {
  padding: .9375rem 0;
  background: #333;
  margin-top: 1.25rem;
  font-size: .9375rem;
}

footer .copyright span {
  color: #0894d1;
}