.error {
  color: red;
}

.container {
  margin-top: 2em ;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(159, 158, 158);
  background-size: cover;
  background-attachment: fixed;
}