

.container{
  margin: auto;
  padding: 5%;
  border-radius: 15px;
  margin-top: 5%;
  background-color: white;
  width: fit-content;
}

.button{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:5px;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(19, 86, 231);
  border: none;
  color: white;
  text-shadow: -1px -1px 5px rgb(0 0 0), 1px 1px 5px rgb(57 39 18);
  
}

.button:hover {
  background-color: rgb(23, 132, 221);
}