
.container{
  padding: 1%;
  margin: 1% auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  color: black;
}

.container:hover{
  background-color: gray;
  color: white;
  outline: 1px solid white;
}