.person{
    margin:0 .9375rem;
    padding-bottom: em;
}

.person img{
    width: 2.5em;
    height: 2.5em;
    margin-top: -10%;
    margin-left: 0.5em;
}


.buttonLogOut{
    background-image: url(../../Images/Log\ out.png);
    background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* background-color: black; */
  background-size: 1.6em;
  width: 2em;
  height: 2em;
  background-color: transparent;
  border-color: transparent;
  }