

.card {
       width: 20rem;
       height: 20rem;
       padding-top: 2rem;
       
       
      
       
}

.background {
    background-color: red;
}

.contenedor{
    display: flex;
    flex-direction: column;
      padding: 1rem;
      
}
.contenedorPrecios{
    display: flex;
          padding: 1rem;
      
}
.contenedorPrecios h5{
    display: flex;
          padding: 1rem;
          font-size: xx-small;
          
      
}
.contenedorPrecios p{
    display: flex;
    font-size: small;
    padding-top: 1.2rem;
          
      
}
.contenedor p{
    padding-left: 0.50rem;
}
h5 {
    text-align: center;
}

