.container {
  /* border: .0625rem solid blue; */
  position: center;
  /* background-color: black; */
}

.closeButton {
  /* border: .0625rem solid blue; */
  /* background-color: black; */
  margin-left: 21em;
  margin-top: 1rem;
  width: 5em;
  background-color: transparent;
  border: transparent;
}