.container {
  /* border: .0625rem solid blue; */
  position: center;
  background-color: rgb(55, 54, 54);
  /* background-color: black; */
  
}

.botonfiltros{
background-color:rgb(55, 54, 54);
color: white;
}

.botonfiltros:hover{
  background-color: black;
  color: white;
}

.slideNav{
  background-color: rgb(55, 54, 54);
  height: 100%;
}

.closeButton {
  /* border: .0625rem solid blue; */
  /* background-color: black; */
  color: white;
  font-size: 1.5em;
  margin-left: 14em;
  margin-top: 1rem;
  margin-right: -1em;
  width: 5em;
  background-color: transparent;
  border: transparent;
}