.general{
    background-color: rgb(227, 225, 225);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfw7GasPR0Hk2SpiMcDj7hTLXz9_HrmbwrA7A1ZGgHcN84AUeTJQzhoTtfDG0iA_8s4r4&usqp=CAU');
    background-size: cover;
    background-attachment: fixed;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;

    /* margin-bottom: 1%; */
}



  .countServices{
    color:white;

  }

  .navTop{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    left: 9%;
    width: 81%;
    justify-content: space-between;
  }

  .navTopLeft{
    display: flex;
  }

  .filter {

    width: 100%;
    margin-top: 6em;
  }

  .title{
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
  }
